.aside__link {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--black-color);
	text-decoration: none;
	outline: none;
}

.aside__link.code {
	flex-direction: column;
	align-items: start;
}

.icon {
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.aside__link i {
	width: 100%;
	transition: color var(--transition);
}

.aside__link.code img {
	width: 150px;
}

.aside__link span {
	white-space: nowrap;
	padding-bottom: 2px;
	border-bottom: 1px solid var(--black-color);
	transition: border-color var(--transition), color var(--transition);
}

.aside__link:focus span {
	color: var(--green-color);
}

.aside__link:focus i {
	color: var(--green-color);
}


.aside__link:hover span {
	border-color: var(--green-color);
}

.aside__link:hover i {
	color: var(--green-color);
}

.values_list {
	margin: 10px 0 0 15px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.values_list span.skills {
	display: block;
	font-weight: 700;
}