.education {
	margin-top: 20px;
}

.education_list {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.education_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.education__info {
	font-style: italic;
	font-size: 20px;
}

.subtitle {
	font-size: 18px;
}

.date {
	flex-shrink: 0;
	font-weight: 500;
	font-size: 16px;
	font-style: italic;
}