.title__contacts {
	margin-bottom: 50px;
}

.aside {
	padding-right: 15px;
	border-right: 7px solid var(--grey-light);
}

@media (max-width:700px) {
	.aside {
		border-right: none;
		text-align: center;
	}
}