.title__contacts {
	margin-bottom: 50px;
}

.aside {
	min-width: 260px;
	padding-right: 15px;
	border-right: 7px solid var(--grey-light);
}

.aside__title {
	margin: 30px 0 10px;
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 10px;
}

@media (max-width:700px) {
	.aside {
		min-width: 100%;
		border-right: none;
		text-align: center;
	}
}