.experience__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.project {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.job__position {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 600;
	font-style: italic;
	/*min-width: 255px;*/
	display: flex;
	gap: 20px;
	align-items: center;
}

.job__title {
	font-weight: 500;
	/*font-style: italic;*/
	min-width: 255px;
	display: flex;
	gap: 20px;
	align-items: center;
}

.job__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border: 3px solid var(--white-color);
	box-shadow: 0 0 5px 0 var(--black-color);
	border-radius: 50%;
	width: 36px;
	height: 36px;
}

.job__icon img {
	width: 20px;
	height: 20px;
	object-fit: contain;
}

.job__date {
	white-space: nowrap;
	text-transform: capitalize;
	font-size: 16px;
	font-style: italic;
	text-align: end;
}

.projects {
	padding-left: 10px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.projects_title {
	font-style: italic;
	text-decoration: none;
	color: var(--black-color);
	padding-bottom: 1px;
	outline: none;
	border-bottom: 1px solid var(--black-color);
	transition: border-color var(--transition), color var(--transition);
}

.projects_title:focus {
	color: var(--green-color);
}

.experience__item {
	margin-bottom: 10px;
}

.projects_title:hover {
	color: var(--green-color);
}

.projects_title:hover {
	border-color: var(--green-color);
}

.projects_description {
	margin-top: 3px;
	font-size: 16px;
	color: var(--dark-color);
}