* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	--white-color: #fff;
	--black-color: #000;
	--dark-color: #555;
	--grey-color: grey;
	--grey-light: #e7e2e2;
	--lightgreen-color: #c0f3c3;
	--green-color: #66ca6d;

	--transition: .4s ease-in-out;

	--font-Roboto: Roboto, sans-serif;
}

ul,
li {
	list-style: none;
}

body {
	font-family: var(--font-Roboto);
	font-weight: 400;
	font-size: 18px;
	line-height: 1.4;
	background-color: var(--white-color);
	color: var(--black-color);
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.main {
	padding: 20px 0;
	display: flex;
	gap: 20px;
}

.title {
	font-size: 26px;
	padding-bottom: 2px;
	display: inline-block;
	/*border-bottom: 2px solid var(--black-color);*/
}

@media (max-width: 700px) {
	.main {
		flex-direction: column;
		align-items: center;
	}
}